*{
    padding: 0px;
    margin: 0px;
}
nav{
    background-color: rgb(37, 228, 37);
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-family: 'arial';
}
nav #d1{
    width: 60vw;
    display: flex;
    justify-content: space-between;
    margin-left: 15vw;
}
nav button{
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    color:white;
}